@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;900&display=swap');
body * {
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: #f8f4eb;
}

#try-it,
#sign-in {
  border-radius: 5px;
  border: 1px solid white;
}

#try-it {
  background-color: #10d174;
}

#sign-in,
#try-it {
  text-decoration: none;
  cursor: pointer;
  color: white;
  user-select: none;
  font-size: 0.8em;
}

div.hero-video {
  height: 80vh;
  z-index: -10;
  position: relative;
  top: -10em;
}

video.video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: blur(5px);
}

.hero-text {
  top: -50%;
  font-weight: 700;
  font-size: 2em;
  margin: 0;
  padding: 0 1em;
  color: white;
  text-align: center;
  position: relative;
}

span.highlight {
  color: #d3001c;
}

.ui.secondary.menu {
  padding-top: 1em;
}

main {
  position: relative;
  top: -6em;
  font-family: 'Nunito, sans-serif';
}

main > h2 {
  text-align: center;
  margin-bottom: 2em;
  font-size: 1em;
}

#divider {
  margin: 2.5em 0 !important;
}

@media only screen and (max-width: 600px) {
  div#divider {
    font-size: 3vw;
  }
}
